<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Android 11 需要 -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <!-- sdcard 读写权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <!-- network -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--  震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 悬浮窗 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.INJECT_EVENTS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BlackBox"
        tools:targetApi="n">

        <activity
            android:name=".view.fake.FollowMyLocationOverlay"
            android:exported="false" />

        <activity android:name=".view.setting.SettingActivity" />
        <activity android:name=".view.gms.GmsManagerActivity" />


        <!-- 配置悬浮窗 -->
        <service android:name=".node.FloatingWindow" />
        <service android:name=".node.FloatingButton" />
        <!-- 前台服务 -->
        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />
        <!--无障碍服务-->
        <service
            android:name=".MyAccessibilityService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <!-- 配置服务的元数据 -->
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>


        <activity
            android:name=".view.main.WelcomeActivity"
            android:launchMode="singleTop"
            android:exported="true"
            android:theme="@style/WelcomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.list.ListActivity" />
        <activity android:name=".view.fake.FakeManagerActivity" />
        <activity android:name=".view.xp.XpActivity" />

        <activity
            android:name=".view.main.ShortcutActivity"
            android:excludeFromRecents="true"
            android:exported="true" />

        <activity android:name=".view.main.MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>
</manifest>